<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

# Data Science Tools and Ecosystem

#### This is a notebook data science tools and ecosystem are summarized

##### there are some great and popular application that data scientist utilize in their work, for example:

1. python
2. R
3. SQL
4. Java
5. JavaScript
   And many More...

##### some of the common Libraries that experts in this field use are:

1. NumPy
2. Matplotlib
3. Keras
4. LightGBM
 and many more...

|Data Science Tools |
|-----|
|Matplotlib|
|seaborn|
|Apache|

### Some good examples of evaluating arithmetic expressions in Python:

In [16]:
# Arithmetic operations
code = compile("5 + 9", "<string>", "eval")
eval(code)
# Result: 14

14

In [17]:
code1 = compile("(8 + 7) * 9", "<string>", "eval")
eval(code1)
# Result: 135

135

This a simple arithmetic expression to mutiply then add integers

In [19]:
(3*4)+5

17

this will change 200 minutes to hours from division in 60

In [20]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

**Objectives:**

- Python
- SQL
- R
- C#
- HTML
- CSS

## Arthur
 Mohammad Javad Movahedi Savoji